* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  background: #cedede;
}
body {
  padding: 20px;
}
.the-pit {
  width: 70%;
  margin: auto;
}
textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.update-form__textarea {
  height: 400px;
}
.input-wrapper {
  display: flex;
  margin-bottom: 10px;
}
input {
  width: 50%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}
input:first-child{
  margin-right: 10px;
}
button {
  color: white;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
button.create-post {
  width: 30%;
  height: 50px;
  padding: 5px;
  background: #3e698a;
  font-size: 16px;
  text-transform: uppercase;
}


button.update,
button.delete {
  width: 10%;
}
button.submit-update,
button.cancel-update,
.blog-post__actions-buttons-container button {
  width: 30%;,
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  height: 40px;
}
button.update,
button.submit-update {
  background: #3e698a;
  margin-right: 10px;
}
button.delete,
button.cancel-update {
  background: #de584b;
}
.buttons-container {
  text-align: right;
}

.blog-post__content {
  line-height: 24px;
  font-size: 18px;
}
.blog-post__actions-buttons-container {
  margin-top: 30px;
}
.blog-post__dates-container {
  margin-top: 20px;
}
.blog-post__dates-container span {
  display: block;
  margin-bottom: 10px;
  font
}

.update-form__author {
  color: #aaa;
  cursor: no-drop;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
span {
  font-style: italic;
  font-size: 14px;
}

.blog-posts {
  margin-top: 50px;
}
.blog-posts__post {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.blog-posts__post-header {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}
.blog-posts__post-header h3 {
  width: 80%;
}
.blog-posts__post-content {
  line-height: 22px;
}
.blog-posts__post-deail-link {
  margin-top: 10px;
  margin-bottom: 20px;
}
.blog-posts__post-deail-link a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #3e698a;
}
.blog-posts__post-footer {
  display: flex;
}
.blog-posts__post-footer div {
  width: 50%;
  margin-bottom: 10px;
}
.blog-posts__post-footer .published-dates-container span {
  display: block;
  margin-bottom: 5px;
  text-align: right;
}


.error {
  text-align: center;
  font-size: 26px;
  margin-top: 50px;
}

.post-error,
.update-error {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  background: #f16a5d;
  color: white;
}

.error-container__title {
  text-align: center;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 1050px) {
  .the-pit {
    width: 90%;
  }

  button.update,
  button.delete {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .the-pit {
    width: 95%;
  }
  .input-wrapper {
    display: block;
  }
  .input-wrapper input {
    width: 100%;
    margin-bottom: 10px;
  }
  button.create-post  {
    width: 50%;
  }
  form.blog-update {
   margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
 .blog-posts__post-header h3 {
  width: 75%;
  font-size: 18px;
 } 
 .blog-posts__post-header button {
  width: 25%;
 }
 .blog-posts__post-footer {
   display: block;
 }
 .blog-posts__post-footer div {
   width: 100%;
 }
 .blog-posts__post-footer .published-dates-container span {
   text-align: left;
 }
 button.submit-update,
 button.cancel-update  {
  width: 40%;
 }
}

@media screen and (max-width: 360px) {
 .blog-posts__post-header h3 {
  width: 70%;
  margin-right: 5px;
  font-size: 16px;
 } 

 .blog-posts__post-header button {
  width: 30%;
  font-size: 12px;
 }
}


