<div class="error-container">
  <h1 class="error-container__title">Oops... it looks like something went wrong</h1>
  <span class="error-container__emoji">◔̯◔</span>
  <div class="error">
    <%= error %>
  </div>
</div>

